* {
  margin: 0px;
  padding: 0;
}
.nav-bar {
  background-color: black;
  justify-content: space-between;
  display: flex;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  padding: 10px 15px;
  margin: 0;
}
.nav-bar ul li {
  margin-right: 10px;
}
.nav-bar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 3px 10px;
}
.search {
  padding-top: 10px;
  padding-right: 12px;
}
.search input {
  border: none;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  outline: none;
  width: 150px;
  height: auto;
}
